**
!Dockerfile
!pyproject.toml
!uv.lock
!README.md
!CHANGELOG.md
!LICENSE
!AUTHORS.md
!pycodetags/
!pycodetags/**
!tests/
!tests/**
!scripts/
!scripts/**
!spec/
!spec/**
!plugins/
!plugins/**
**/__pycache__
**/.pytest_cache
**/.hypothesis
**/.venv*
**/dist
**/*.flat.md
